<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to PWA</title>
    <!-- <link rel="stylesheet" type="text/css" href="css/style.css"> -->
    <link rel="stylesheet" href="<%= webpack['index.css'] %>" type="text/css" />
    <link rel="manifest" href="/manifest.json">
</head>
<body>
    <div class="app app__layout">
        <header>
            <span class="header__icon">
                <svg class="menu__icon no--select" width="24px" height="24px" viewBox="0 0 48 48" fill="#fff">
                    <path d="M6 36h36v-4H6v4zm0-10h36v-4H6v4zm0-14v4h36v-4H6z"></path>
                </svg>
            </span>
          
            <span class="header__title no--select">PWA</span>
        </header>
          
        <div class="menu">
            <div class="menu__header"></div>
                <ul class="menu__list">
                    <li><a href="/">Home</a></li>
                    <li><a href="/storage">Local Storage</a></li>
                    <li><a href="/pushnotification">Push Notification</a></li>
                    <li><a href="/camera">Camera</a></li>
                    <li><a href="/geolocation">Geolocation</a></li>
                    <li><a href="/morefeatures">More Features</a></li>
                </ul>
        </div>
          
        <div class="menu__overlay"></div>
          
        <!-- <div class="app__content"> -->
          
                  <!-- <section class="section">
                    <h3> Stay Up to Date with R-I-L </h3>
                    <img class="profile-pic" src="/images/books.png" alt="Hello, World!">
          
                    <p class="home-note">Latest Commits on Resources I like!</a></p>
                    <button id="notifynow">Notify now</button>
          
                  </section>
           -->
          
          