<% include ./partials/header %>
<div class="app__content">
    <h1>Access Camera</h1>
</div>
<section class="card_container">

    <div class="container">
        <section class="card_container">

            <div class="container">
                <section class="card first">
                    <video id="player" controls autoplay></video>
                    <button id="capture">Capture</button>
                    <canvas id="canvas" width=320 height=240></canvas>
                </section>
            </div>
        </section>
    
            
          <!-- Toast msg's  -->
        <div class="toast__container"></div>
    </div>
</section>

<% include ./partials/footer %>