<% include ./partials/header %>
<section class="card_container">

    <div class="container">
        <section class="card_container">
            <h2 style="margin-top:70px;" align="center">Access Geolocation</h2>
    
            <div class="container">
                <section class="card first">
                   <div><b>Latitude:</b><span id="latitude"></span></div>
                   <div><b>Longitude:</b><span id="longitude"></span></div>
                </section>
                
            </div>
        </section>
    
       
          <!-- Toast msg's  -->
        <div class="toast__container"></div>
    </div>
</section>

<% include ./partials/footer %>