<% include ./partials/header %>     

<div class="app__content">
    <h1>Progressive Web App - Demo</h1>
</div>
<section class="card_container">

    <div class="container">
        <section class="card first">
            <!-- <h2>You can access this site offline</h2> -->
            <center><img src="/images/pwa.png" alt=""></center>
            <center><%= message %></center>
        </section>
        
    </div>
</section>


<% include ./partials/footer %>