<% include ./partials/header %>
<div class="app__content">
    <h1>Push notification</h1>
</div>
<section class="card_container">

    <div class="container">
        <section class="card first">
           Device ID: <span id="deviceId"></span>
        </section>
        
        <div class="fab fab__push">
            <div class="fab__ripple"></div>
            <img class="fab__image" src="/images/push-off.png" alt="Push Notification" />
        </div>
            
          <!-- Toast msg's  -->
        <div class="toast__container"></div>
    </div>
</section>

<% include ./partials/footer %>