<% include ./partials/header %>
<div class="app__content">
    <h1>API data or LocalStorage</h1>
</div>
<section class="card_container">

    <div class="container">
        <section class="card first">
           IP Address:  <span id="ipaddr"></span><br>
           Current City </b> <span id="city"></span>
        </section>
        
    </div>
</section>

<% include ./partials/footer %>